<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.harpreetA00230757.foodorderingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderingAppHarpreetA00230757">
        <activity android:name=".View_CustomerReviews"></activity>
        <activity android:name=".RateAndReview" />
        <activity android:name=".RatingClass" />
        <activity android:name=".FetchCurrentOrdersUser" />
        <activity android:name=".FetchAllOrdersUser" />
        <activity android:name=".ViewActiveOrdersUser" />
        <activity android:name=".ViewAllOrdersUser" />
        <activity android:name=".ViewOrders" />
        <activity android:name=".FetchUserAllOrders" />
        <activity android:name=".KitchenHome2" />
        <activity android:name=".KitchenHome" />

        <service
            android:name=".GetToken"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".CartDetails" />
        <activity android:name=".ViewProducts" />
        <activity android:name=".ViewAllCategories" />
        <activity android:name=".SignUp1" />
        <activity android:name=".SignUp" />
        <activity android:name=".UserSignUp" />
        <activity android:name=".ManageProducts" />
        <activity android:name=".AddProduct" />
        <activity android:name=".AddCategory" />
        <activity android:name=".ManageCategory" />
        <activity android:name=".LauncherScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_dRWiKHS7zr2Gki" />
    </application>

</manifest>